@import "~bootstrap/dist/css/bootstrap.css";

body  {
  background-color: #fff;
}

button {
  outline: none !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
